// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$theme-colors: (
    "primary": #6234b9,
    "secondary": #e5d5f6,
    "plain": #7f5dbe,
    "muted":#afaeb0,
    "shadow":#dedede,
    "dark": #222024,
    "danger": rgb(181, 44, 44),
);
